.header {
    display: flex;
    align-items: center;

}

.header a {
    display: inline;
    align-items: center;
    text-decoration: none;

}

.header .logo {
    max-height: 32px;

}

.header .title-group{
    padding-left: 25px;
}

.header .title-group{
    padding-right: 25px;
}